<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{20}) -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>weather-forecast.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>weather-forecast.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Period of logs store (10 days) -->
            <maxHistory>10</maxHistory>

            <!-- Maximum log-file size 200 KBytes -->
            <totalSizeCap>200KB</totalSizeCap>

        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>